body{
	margin:0px;
	background-color:#CDDCC9;
	padding:0px;
}
#wrapper{
	width: 960px;
	margin:auto;
	border-radius:4px;
}
header{
	height: 100px;
	background-color:#37868B;
	oveflow:hidden;
}
@font-face {
   font-family: 'Top Secret';
   src:url('[TOP_SECRET].ttf');
}

header>h1{
	color:#fff;
	position:absolute;
	margin-left:20px;
	line-height:43px;
	font-family:Top Secret;
	font-size:3.5em;
	text-transform:uppercase;
	text-shadow: 0px 3px 3px #555;
}
article{
	background-color:#fff;
	width: 960px;
	margin-top:20px;
	margin-bottom:20px;
}
#content{
	width:960px;
	min-height:400px;
	font-size:20px;
}
#grande_image{
	height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    width: 440px;
	float:left;

}
#content #grande_image img{
	margin-top:20px;
	width:430px;
}

#content>#liste_titre{
	width:400px;
	position:relative;
	float:right;
	margin-right:80px;
}

#content>#liste_titre>ul>li{
	color:#37868B;
}
#content>#liste_titre>ul>li>a{
	text-decoration:none;
	color:#EF6B5F;
	cursor:pointer;
	cursor:hand
}
#content>#liste_titre>ul>li>a:hover{
	color:#00AA92;
}
footer{
	height: 50px;
	background-color:#37868B;
	clear:both;
}
footer>p{
	bottom: -27px;
    position: relative;
	color:#fff;
	font-size: 14px;
    left: 5px;
}
